.image-list{
  list-style-type none
  text-align center
  
  & li{
    display inline-block
  }
  
  & .response-image{
    display inline-block;
    overflow hidden
    background-size contain
    background-repeat no-repeat
    background-position center center
    margin 10px 20px
    height: auto; 
    width: auto; 
    min-width: 100px; 
    min-height: 100px;
  }
}